@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

.gilda-display-regular {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width:1200px) {
  .display-4 {
    font-size:3.5rem;
    font-family: "Gilda Display", serif;
